###############
# ios variables
###############
# Username of shared credentials account
USERNAME=

# Apple developer team id
TEAM_ID=

# App Store connect team id
CONNECT_TEAM_ID=

# App identifiers, separated by commas
# Used for fastlane match to download and match the appropriate certificates
APP_IDENTIFIERS=

# Path to the project's .xcworkspace file
WORKSPACE=

XCODE_PROJ_PATH=

# The base scheme name
SCHEME_NAME=

###############
# Distribution
###############

TESTFAIRY_API_KEY=***

FIREBASE_ANDROID_APP_ID=***

FIREBASE_CLI_TOKEN=***

FIREBASE_APP_SERVICE_CREDENTIALS_JSON=***
